@font-face {
    font-family: 'Uncut Sans';
    src: url('../fonts/UncutSans-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Analog Whispers';
    src: url('../fonts/Analog-Whispers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
    background-color: #f2ebe2;
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f2ebe2;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f2ebe2;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    box-shadow: 0px 2px 0px 0px #0c0e0c;
}

.nav-left {
    margin-left: 4rem;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
    gap: 4rem;
}

.nav-title {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 4rem;
    color: #0c0e0c;
    margin-right: 8rem;
    text-decoration: none;
}

.nav-title:hover {
    font-style: italic;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Uncut Sans';
    font-weight: 1000;
    font-size: 2rem;
    text-decoration: none;
    color: #0c0e0c;
    transition-duration: 0.3s;
}

.nav-button:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Uncut Sans';
    font-weight: 1000;
    font-size: 2rem;
    text-decoration: none;
    color: #0c0e0c;
    border: 2px solid #0c0e0c;
    padding: 1rem;
    box-shadow: 4px 4px 0px #0c0e0c;
    border-radius: 1rem;
    transition-duration: 0.3s;
}

.link-button:hover {
    transition-duration: 0.3s;
}

#github-button {
    margin-left: 2rem;
}

#github-button:hover {
    background-color: #24292f;
    color: #f2ebe2;
}

#behance-button:hover {
    background-color: #0067ff;
    color: #f2ebe2;
}

.nav-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

h1 {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 8rem;
    color: #0c0e0c;
    text-align: left;
}

.hero h2 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 2.5rem;
    color: #0c0e0c;
    text-align: left;
    margin-top: -2rem;
}

.hero h3 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 2.5rem;
    color: #0c0e0c;
    text-align: left;
    margin-top: -0.5rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 30rem;
    padding-bottom: 50rem;
}

.frame {
    display: inline-block;
    border: 3px solid #0c0e0c;
    box-shadow: 6px 6px 0px #0c0e0c;
    border-radius: 10%;
    overflow: hidden;
}

.frame img {
    display: block;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20rem;
}

.skills-header {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

.skills-header h1 {
    font-size: 8rem;
    padding-right: 8rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 3rem;
    color: #0c0e0c;
    text-align: center;
    margin-top: 1rem;
}

.skills-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.skills-list h3 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 2rem;
    color: #0c0e0c;
    text-align: center;
    border: 2px solid #0c0e0c;
    padding: 1rem;
    box-shadow: 4px 4px 0px #0c0e0c;
    border-radius: 1rem;
    margin-top: -1rem;
}

#html {
    background-color: #f06529;
}

#css {
    background-color: #2965f1;
}

#javascript {
    background-color: #f7df1e;
}

#c, #cpp {
    background-color: #659ad2;
}

#java {
    background-color: #f89820;
}

#python {
    background-color: #ffd43b;
}

#arduino {
    background-color: #00979d;
}

#photoshop {
    background-color: #31a8ff;
}

#figma {
    background-color: #f24e1e;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20rem;
}

.experience h1 {
    margin-top: 0;
}

.timeline-event {
    display: flex;
    justify-content: center;
    width: 100%;
}

.timeline-event h2 {
    font-family: 'Uncut Sans';
    font-size: 4rem;
    font-weight: 1000;
}

.timeline-event h3 {
    font-family: 'Uncut Sans';
    font-size: 2rem;
    font-weight: 500;
}

.event-years {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    padding-right: 5rem;
    margin: 0;
}

.event-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}

.event-description {
    margin-top: -0.5rem;
}

.event-school {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.event-school h3 {
    font-size: 1.5rem;  
    border: 2px solid #0c0e0c;
    padding: 0.5rem;
    box-shadow: 3px 3px 0px #0c0e0c;
    border-radius: 1rem;
}

#dlsu {
    background-color: #087830;
}

#pcs {
    background-color: #cc9966;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}

.projects h1 {
    margin-top: 0;
    margin-bottom: 5rem;
}

.project-card {
    display: flex;
    width: 80rem;
    height: 40rem;
    border: 3px solid #0c0e0c;
    box-shadow: 6px 6px 0px #0c0e0c;
    border-radius: 1rem;
    gap: 4rem;
    padding: 2rem 4rem 2rem 2rem;
    margin-bottom: 10rem;
}

.project-image {
    display: flex;
    align-items: center;
}

.project-image img {
    width: 27rem;
    height: 36rem;
    border: 3px solid #0c0e0c;
    margin-left: 2rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-container h2 {
    font-family: 'Space Mono';
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 3rem;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info-container h4 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 1.5rem;
    color: #0c0e0c;
    text-align: center;
    border: 2px solid #0c0e0c;
    padding: 0.5rem;
    box-shadow: 4px 4px 0px #0c0e0c;
    border-radius: 1rem;
    margin: 0 0 3rem 0;
}

.project-container h3 {
    font-family: 'Uncut Sans';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

#ard {
    background-color: #00979d;
}

#cp2 {
    background-color: #659ad2;
}

#jav {
    background-color: #f89820;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20rem;
}

.contact h1 {
    font-size: 8rem;
    padding-right: 8rem;
}

.contact-container h2 {
    font-family: 'Uncut Sans';
    font-size: 2rem;
    font-weight: 500;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-top: 2rem;
}

.contact-container .link-button {
    width: min-content;
    transition-duration: 0.3s;
}

#facebook:hover {
    background-color: #0866ff;
    color: #f2ebe2;
    transition-duration: 0.3s;
}

#linkedin:hover {
    background-color: #0274b3;
    color: #f2ebe2;
    transition-duration: 0.3s;
}