@font-face {
    font-family: 'Uncut Sans';
    src: url('../fonts/UncutSans-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Analog Whispers';
    src: url('../fonts/Analog-Whispers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
    background-color: #f2ebe2;
    scroll-behavior: smooth;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f2ebe2;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    box-shadow: 0px 2px 0px 0px #0c0e0c;
}

.nav-left {
    margin-left: 3rem;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    gap: 3rem;
}

.nav-title {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 2rem;
    color: #0c0e0c;
    margin-right: 8rem;
    text-decoration: none;
}

.nav-title:hover {
    font-style: italic;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Uncut Sans';
    font-weight: 1000;
    font-size: 1.5rem;
    text-decoration: none;
    color: #0c0e0c;
    transition-duration: 0.3s;
}

.nav-button:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Uncut Sans';
    font-weight: 1000;
    font-size: 1.5rem;
    text-decoration: none;
    color: #0c0e0c;
    border: 2px solid #0c0e0c;
    padding: 0.5rem;
    box-shadow: 4px 4px 0px #0c0e0c;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
}

.link-button:hover {
    transition-duration: 0.3s;
}

#github-button {
    margin-left: 2rem;
}

#github-button:hover {
    background-color: #24292f;
    color: #f2ebe2;
}

#behance-button:hover {
    background-color: #0067ff;
    color: #f2ebe2;
}

.nav-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

h1 {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 5rem;
    color: #0c0e0c;
    text-align: left;
}

h2 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 1.5rem;
    color: #0c0e0c;
    text-align: left;
    margin-top: -2rem;
}

h3 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 1.5rem;
    color: #0c0e0c;
    text-align: left;
    margin-top: -0.5rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding-top: 20rem;
    padding-bottom: 30rem;
}

.frame {
    display: inline-block;
    border: 3px solid #0c0e0c;
    box-shadow: 6px 6px 0px #0c0e0c;
    border-radius: 10%;
    overflow: hidden;
}

.frame img {
    display: block;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4rem;
}

.skills-header {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

.skills-header h1 {
    font-size: 5rem;
    padding-right: 5rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    font-family: 'Space Mono';
    font-weight: 1000;
    font-size: 2rem;
    color: #0c0e0c;
    text-align: center;
    margin-top: 1rem;
}

.skills-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.skills-list h3 {
    font-family: 'Uncut Sans';
    font-weight: 500;
    font-size: 1.5rem;
    color: #0c0e0c;
    text-align: center;
    border: 2px solid #0c0e0c;
    padding: 0.5rem;
    box-shadow: 4px 4px 0px #0c0e0c;
    border-radius: 0.5rem;
}

#html {
    background-color: #f06529;
}

#css {
    background-color: #2965f1;
}

#javascript {
    background-color: #f7df1e;
}

#c, #cpp {
    background-color: #659ad2;
}

#java {
    background-color: #f89820;
}

#python {
    background-color: #ffd43b;
}

#arduino {
    background-color: #00979d;
}

#photoshop {
    background-color: #31a8ff;
}

#figma {
    background-color: #f24e1e;
}