@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Google Sans';
  src: url("./assets/fonts/google_sans.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/inter.ttf") format('truetype');
}

@theme {
  --font-mono: 'Google Sans';
  --font-body: 'Inter';
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply tracking-tight;
  }
}

.dark {
  @layer base {
    body {
      background-color: black;
    }
  }
}

*, *::before, *::after {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}